@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "devflow";
  default: true;
/* #FBFCFE */
  --color-primary: #5B3DF5;
  --color-primary-content: #FFFFFF;

  --color-secondary: #3B82F6;
  --color-secondary-content: #FFFFFF;

  --color-accent: #EEE9FF;
  --color-accent-content: #4525D9;

  --color-neutral: #111827;
  --color-neutral-content: #FFFFFF;


  --color-base-100: #FFFFFF;
  --color-base-200: #F8F9FC;
  --color-base-300: #E5E7EB;
  --color-base-content: #111827;

  --color-info: #3B82F6;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  /* --color-muted: #999CAF; */

  /* font style  */
  --font-inter: "Inter",
    sans-serif;
    --font-jakarta:"Plus Jakarta Sans",
      sans-serif;
  /* .plus-jakarta-sans-<uniquifier> {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    } */
        /* .inter-<uniquifier> {
          font-family: 
          font-optical-sizing: auto;
          font-weight: <weight>;
          font-style: normal;
        } */
}
@theme {
  --color-muted: #999CAF;
}
body{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 600;
        
        
}